<h1>Edit Page</h1>
<%= form_with model: [@category, @task], method: :patch do |f| %>
<p>
    <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do |message| %>
             <li>
                <%= message%>
             </li>
            <% end %>
        </ul>
    <% end %>
</p>
<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :details %>
  <%= f.text_area :details %>
</div>

<div class="field">
  <%= f.label :deadline %>
  <%= f.date_field :deadline %>
</div>

<div class="field">
  <%= f.label :started %>
  <%= f.check_box :started %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
</div>

<div>
 <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>


