<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class = "container">
<h1>Edit Page</h1>
<%= form_with model: [@category, @task],class: "form-group", method: :patch do |f| %>
<p>
    <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do |message| %>
             <li>
                <%= message%>
             </li>
            <% end %>
        </ul>
    <% end %>
</p>
<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :details %>
  <%= f.text_area :details, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :deadline %>
  <%= f.date_field :deadline, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :started %>
  <%= f.check_box :started %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
</div>

<div class="form-group">
 <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), class: "form-control" %>
</div>

<div class="form-group">
  <%= f.submit class: "btn btn-primary mb-2" %>
</div>

<% end %>

<%= link_to category_tasks_path, class: "btn btn-danger" do %>
  <i class = 'glyphicon glyphicon-chevron-left'></i> Back
<% end %>

</body>


