<h1>Tasks</h1>
<table class = "content">
    <thead>
        <tr>
            <th><h6>ID</h6></th>
            <th><h2>Name</h2></th>
            <th><h2>Details</h2></th>
            <th><h2>Deadline</h2></th>
            <th><h2>Started</h2></th>
            <th><h2>Completed</h2></th>
            <th><h2> </h2></th>
            <th><h2> </h2></th>
            <th><h2> </h2></th>
        </tr>
    </thead>

    <tbody>
        <%# iterate %>
        <%@tasks.each do |task| %>
            <tr>
                <%# print %>
                <td id = "task-id"><%= task.id %></td>
                <td id = "task-name"><b><%= task.name %></b></td>
                <td id = "task-body"><%= task.details %></td>
                <td id = "task-deadline"><%= task.deadline %></td>
                <td id = "task-started"><%= task.started %></td>
                <td id = "task-completed"><%= task.completed %></td>
                <td><%= link_to 'Edit', edit_task_path(task.id) %></td>
                <td><%= link_to 'Show',show_task_path(task.id) %></td>
                <td><%= link_to 'Delete', delete_task_path(task.id), data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'Create New Task',new_task_path %>