<h1><%= @task.name %></h1>
            
<%# print %>
<p class = "content">

    <%= @task.details %><br>
    <%= @task.deadline %><br>
    <%= @task.started_at %><br>
    <%= @task.completed_at %><br>

</p>

<div class = "btn-links">
    <%= link_to 'Edit', edit_task_path(@task.id) %>
    <%= link_to 'Delete', delete_task_path(@task.id), data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Task',tasks_path %>
</div>