<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div>
    <div class = 'container'>

        <h1>Tasks to be Completed by Today</h1>

        <div>

            <% if @tasks_incomplete.length === 0 %>
                <h2>No Task for Today!</h2>
            <% else %>

                <table class = 'table'>
                    <thead class = 'thead-dark'>
                        <tr>
                            <th class = 'text-center'>Category</th>
                            <th class = 'text-center'>Name</th>
                            <th class = 'text-center'>Details</th>
                            <th class = 'text-center'>Deadline</th>
                            <th class = 'text-center'>Started</th>
                            <th class = 'text-center'>Completed</th>
                            <th class = 'text-center'>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <% @tasks_incomplete.each do |task| %>
                            <% category = Category.find(task.category_id) %>
                                
                                <td class = 'text-center'><%= link_to category.name, category_path(category.id) %></td>
                                <td class = 'text-center'><%= link_to task.name, category_task_path(category.id, task.id) %></td>
                                <td class = 'text-center'><%= task.details %></td>
                                <td class = 'text-center'><%= Time.at(task.deadline).strftime("%B %e, %Y")  %></td>
                                <% if task.started === true %>
                                    <td class = 'text-center'><i class = 'glyphicon glyphicon-ok'>
                                    </i></td>
                                <% else %>
                                    <td class = 'text-center'><i class = 'glyphicon glyphicon-remove'></i></td>
                                    <% end %>
                                <% if task.completed === true %>
                                    <td class = 'text-center'><i class = 'glyphicon glyphicon-ok'>
                                    </i></td>
                                <% else %>
                                    <td class = 'text-center'><i class = 'glyphicon glyphicon-remove'></i></td>
                                <% end %>
                                <td>
                                    <%= link_to 'Edit', edit_category_task_path(category.id, task.id), class:"btn btn btn-success" %>

                                    <%= link_to 'Delete', category_task_path(category.id, task.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                                  
                                </td>
                        <% end %>       
                    </tbody>
                <table>
            <% end %>
            <%= link_to categories_path, class: "btn btn-success" do %>
                <i class = 'glyphicon glyphicon-calendar'></i> Go to Category
            <% end %>
        </div>
    </div>
</div>