<div>
    <div>

        <h1>Tasks to be Completed by Today</h1>

        <div>

            <% if @tasks_incomplete.length === 0 %>
                <h2>None</h2>
            <% else %>

                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Deadline</th>
                            <th>Started</th>
                            <th>Completed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <% @tasks_incomplete.each do |task| %>
                            <% category = Category.find(task.category_id) %>
                            <tr>
                                
                                <td><%= link_to category.name, category_path(category.id) %></td>
                                <td><%= link_to task.name, category_task_path(category.id, task.id) %></td>
                                <td><%= task.details %></td>
                                <td><%= task.deadline %></td>
                                <td><%= task.started %></td>
                                <td><%= task.completed %></td>
                                <td>
                                    <div>
                                        <div>
                                            <%= link_to 'Edit', edit_category_task_path(category.id, task.id), class: "button is-small is-warning" %>
                                        </div>
                                        <div>
                                            <%= link_to 'Delete', category_task_path(category.id, task.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-small is-danger" %>
                                        </div>
                                        
                                    </div>
                                </td>
                                
                            </tr>

                        <% end %>

                            
                    </tbody>
                <table>
            <% end %>
            <%= link_to 'Go to Category',categories_path %>
        </div>
    </div>
</div>